*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.header{
	width: 100%;
	padding:0 2%;
	height: 60px;
	background-color: darkgreen;
}

.header img{
	margin: 15px;
	width: 110px;
}

.header button{
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
	font-size: medium;
	position: absolute;
	margin-top: 20px;
	margin-left: 480px;
}

.container-banner{
	width: 100%;
	padding:0 2%;
	height: 557px;
	background-image:url('../images/BG.png');
	background-size: cover;
	background-position: center;
}

.container-banner > .center{
	height: 100%;
}

.form{
	padding:2rem;
	width: 400px;
	height: calc(100% + 30px);
	float: right;
	position: relative;
	top:-15px;
	border-width: 12px;
	border-color:  rgb(68, 230, 98);
	border-style: solid;
	background-color: #5c54ed;
	background-clip:padding-box;
	color: #fdfdfd;
}

.form h2{
	margin-bottom: 1rem;
}

.form-input-container{
	display: flex;
}

.form input{
	padding: 0.8rem;
	border: none;
	flex: 1;
	border-radius: 4px;
}

.form button{
	padding: 0.8rem;
	min-width: 50px;
	margin-left: 8px;
	background-color: #8dd0f5;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#weather-data{
	border-top: 1px solid white;
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	text-align: center;
}

#weather-data h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.6rem;
}

#weather-data h2{
	font-size: 1rem;
}

#weather-data span{
	margin: 0.6rem;
}

#descripition-conteiner{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.6rem 0;
	text-transform: capitalize;
	font-weight: bold;
}

#details-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#details-container #umidity{
	border-right: 1px solid #fff;
	margin: 0.6rem;
	padding: 0.6rem;
}

.container-list{
	padding:30px;
	margin-top:100px;
	float: left;
	width: 519px;
	height: 270px;
	background-color: rgb(112, 237, 66);
}

.container-list ul{
	list-style: none;
}

.container-list ul li{
	margin-top:18px;
	color: black;
}


.container-2{
	padding:40px 2%;
	background-color: rgb(136, 242, 97);
	text-align: center;
}


.container-2 h2{
	font-weight: normal;
}

.container-2 p{
	width: 100%;
	max-width: 768px;
	margin:15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow{
	position: relative;
	top:60px;
	left:50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
}

.section-1{
	padding:90px 2%;
	background-color: beige;
}

.section-1 h2{
	text-align: center;
	color: black;
	font-weight: normal;
}

.container-section{
	margin-top:40px;
	text-align: center;
}

.container-single{
	float: left;
	width: 33.3333%;
	padding:30px;
}

.vendas-produtos{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.produto{
	width: 100%;
    max-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.venda-img{
	border-radius: 5px 5px 0 0;
    height: 50%;
    border-bottom: 1px solid black;
}

.venda-img img{
	width: 100%;
    height: auto;
}

.venda-texto{
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.venda-texto h2,
.venda-texto h3,
.venda-texto h1 {
    margin: 15px 0;
    font-weight: bold;
}

.venda-texto h1{
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
}

.venda-texto h2{
	font-size: 35px;
	color: rgb(67, 217, 67);
}

.venda-texto button{
	font-size: large;
	font-weight: bold;
	color: white;
	padding: 20px 80px;
	background-color: rgb(0, 255, 0);
	border: none;
	cursor: pointer;
}

.venda-texto button:hover{
	background-color: green;
}

.container-single p{
	display: inline-block;
	text-align: justify;
	padding:10px;
}

.container-single img{
	width:70px;
}

.footer{
	/*clear:both;*/
	border-top:2px solid rgb(35, 1, 48);
	background-color: beige;
	padding:20px 0;
	text-align: center;
	color: rgb(35, 1, 48);
}

.footer p{
	margin-top:8px;
}

.botao{
	color: black;
	font-size: 15px;
	width: 280px;
	height: 50px;
	display: inline-block;
	background-color: rgb(52, 235, 85);
	border-top:0;
	border-right: 0;
	border-left: 0;
	cursor: pointer;
	border-bottom: 5px solid green;
	margin: auto;
	position: absolute;
	left: 600px;
}

.botao:hover{
	background-color: green;
}


.slider{
	margin: 0 auto;
	width: 800px;
	height: 400px;
	overflow: hidden;
}

.slides{
	width: 400%;
	height: 400px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 33%;
	position: relative;
	transition: 1s;
}

.slide img{
	width: 800px;
}

.manual-navigation{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background-color: white;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -33%;
}

#radio3:checked ~ .first{
	margin-left: -66%;
}

.navigation-auto div{
	border: 2px solid blue;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.navigation-auto{
	position: absolute;
	width: 800px;
	margin-top: 360px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: white;
}


@media screen and (max-width: 1024px) {
    .header {
        height: auto;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .header img {
        margin: 0;
    }

    .header button {
        margin-top: 10px;
        margin-left: 0;
    }

    .container-list {
        padding: 30px 0;
        width: 40%;
        float: left;
        display: inline-block;
        max-width: 500px;
        height: auto;
    }

    .container-banner {
        width: 100%;
        padding: 40px 2%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        max-width: 400px;
        padding: 10px;
        width: 60%;
        height: 100%;
        float: right;
        top: 0;
    }

    .input-container input[type="text"] {
        width: 100%;
        height: 55px;
    }

    .form input[type="submit"] {
        max-width: 280px;
        height: 56px;
        width: 100%;
    }

    .botao {
        width: 100%;
        left: 0;
        position: relative;
        margin: 20px 0;
        transform: translateX(0);
    }

	.produto {
        max-width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .container-2 {
        padding-right: 4%;
        padding-left: 4%;
    }
    .container-list {
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form {
        float: none;
        display: inline-block;
        width: 90%;
        margin-top: 30px;
    }

    .container-single {
        float: none;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 30px 0;
    }

    .vendas-produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 90%;
        max-width: 100%;
    }

    .botao {
        width: 90%;
        left: 0;
        position: relative;
        margin: 20px auto;
    }

    .slider {
        width: 100%;
        height: auto;
    }

    .slides img {
        width: 100%;
    }

    .manual-navigation,
    .navigation-auto {
        width: 100%;
    }

	.produto {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 10px 0;
    }

    .form {
        width: 100%;
        padding: 5px;
    }

    .form input {
        padding: 0.5rem;
    }

    .form button {
        padding: 0.5rem;
    }
	
	.produto {
        max-width: 100%;
    }

    .venda-texto h1 {
        font-size: 18px;
    }

    .venda-texto h2 {
        font-size: 20px;
    }

    .venda-texto button {
        font-size: medium;
        padding: 8px 16px;
    }

    .venda-texto button {
        padding: 10px 40px;
        font-size: medium;
    }

    .container-2 p {
        padding: 0 10px;
        text-align: justify;
    }

    .botao {
        font-size: 14px;
        padding: 15px 60px;
    }
}